<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head>
    <title th:text="${pageTitle}">Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="webjars/bootstrap/4.1.3/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
    <script src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<!-- error page custom -->
<div class="container">
    <h2>Custom error page</h2>
    <hr>
    <p th:text="${error}"></p>
    <p th:text="${message}"></p>
</div>

</body>
</html>
